<div 
  class="relative" 
  x-data="{ showCaption: false }">
  {{ partial:media/image
    :image="image"
    :sizes="sizes"
    :wrapperClass="wrapperClass"
    :class="class" }}

  {{ if image:alt }}
    <div class="absolute z-1 bottom-24 left-0 right-0 z-40 flex items-center justify-center px-10 lg:px-16">
      <div class="relative flex items-center justify-center flex-1">
        <div
          x-show="showCaption"
          x-transition.opacity
          @click="showCaption = false"
          class="cursor-pointer absolute text-center text-balance text-primary text-xxs lg:text-xs rounded-full pt-2 pb-4 lg:py-4 px-16 bg-white transition-opacity duration-300">
          {{ image:alt }}
        </div>

        <button
          x-show="!showCaption"
          x-transition.opacity
          @click="showCaption = true"
          class="absolute m-auto transition-opacity duration-300 rounded-full aspect-square bg-white text-primary flex items-center justify-center w-21 h-21">
          {{ partial:icons/info class="w-auto h-10" }}
        </button>
      </div>
    </div>
  {{ /if }}
</div>
