{{ partial:fellows/components/card }}

  {{ partial:headings/h2 class="text-center leading-none mb-12" }}
    {{ "Förderbeitrag" | trans }}
  {{ /partial:headings/h2 }}

  <div class="flex flex-wrap gap-4 justify-center">
    {{ if exhibition }}
      <a 
        href="{{ site:short_locale == 'fr' ? '/fr/archives/expositions' : '/archiv/ausstellungen' }}#{{ exhibition:slug }}"
        class="pill pill-sm pill-solid-primary hover:shadow-glow-sm-primary">
        {{ (scholarship_type == 'main_scholarship' ? 'Hauptstipendium' : 'Förderstipendium') | trans }} {{ year }}
      </a>
    {{ else }}
      {{ if scholarship_type }}
        <div class="pill pill-sm pill-solid-primary">
          {{ (scholarship_type == 'main_scholarship' ? 'Hauptstipendium' : 'Förderstipendium') | trans }} {{ year }}
        </div>
      {{ /if }}
    {{ /if }}

    {{ if amount }}
      <div class="pill pill-sm pill-outline-primary pill-outline-primary-static">
         {{ amount | format_number:0:".":"’" }} {{ "Fr." | trans }}
      </div>
    {{ /if }}
  </div>

  {{ partial:headings/h2 class="text-center leading-none mb-12 mt-12" }}
    {{ "Jahrgang" | trans }}
  {{ /partial:headings/h2 }}

  <div class="flex justify-center">
    <div class="pill pill-sm pill-outline-primary pill-outline-primary-static">
      {{ year_group }}
    </div>
  </div>

{{ /partial:fellows/components/card }}