<article class="
  col-span-full
  md:col-span-10
  lg:col-span-8
  bg-primary
  card
  card-rounded
  {{ registration:is_active ? 'relative mt-172 md:mt-160 lg:!mt-0' : '' }}">

  {{ if registration:is_active }}
    {{ partial:buttons/cta 
        url="#application-form" 
        title="{{ "Anmeldeformular" | trans }}"
        class="rotate-[30deg] origin-bottom-left absolute -left-8 md:left-auto md:-right-190 -top-180 md:-top-140 lg:hidden" }}
  {{ /if }}

  {{ if title }}
    {{ partial:headings/dynamic type="{{ title_order }}" }}
      {{ title }}
    {{ /partial:headings/dynamic }}
  {{ /if }}

  <div class="flex flex-col gap-y-8 md:gap-y-16">
    
    {{ main_elements }}

      {{ if type == "organisation_location" }}

        <div class="flex justify-center">
          <h3 class="pill pill-sm pill-static">
            {{ title_organisation_location }}
          </h3>
        </div>

        <div class="space-y-8 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-x-16">
          <div>
            <div class="card card-rounded border md:border-2 !border-white">
              <div class="flex justify-center mb-8 md:mb-16">
                <h3 class="pill pill-sm pill-static">
                  {{ subtitle_organisation }}
                </h3>
              </div>
              {{ partial:editor/wrapper :editor="editor_organisation" }}
            </div>
          </div>
          <div>
            <div class="card card-rounded border md:border-2 !border-white">
              <div class="flex justify-center mb-8 md:mb-16">
                <h3 class="pill pill-sm pill-static">
                  {{ subtitle_location }}
                </h3>
              </div>
              {{ partial:editor/wrapper :editor="editor_location" }}
            </div>
          </div>
        </div>
      {{ /if }}

      {{ if type == "editor" }}

        {{ if subtitle }}
          <div class="flex justify-center">
            <h3 class="pill pill-sm pill-static">
              {{ subtitle }}
            </h3>
          </div>
        {{ /if }}

        {{ partial:editor/wrapper }}

      {{ /if }}

    {{ /main_elements }}
  </div>

</article>

{{ if sidebar_elements }}

  <aside class="col-span-full lg:col-span-4 md:grid md:grid-cols-12 md:gap-x-16 md:mb-16">

    {{ sidebar_elements }}

      {{ if type == 'application_information_deadlines' }}

        <article class="
          card
          card-rounded
          card-border
          md:col-span-6
          lg:col-span-12
          {{ registration:is_active ? 'lg:relative lg:mt-400' : '' }}">

          {{ if registration:is_active }}
            {{ partial:buttons/cta 
              url="#application-form"  
              title="{{ "Anmeldeformular" | trans }}"
              class="hidden lg:flex lg:rotate-[15deg] origin-bottom-right absolute lg:-left-20 lg:-top-55" }}
          {{ /if }}
          
          {{ if title }}
            {{ partial:headings/dynamic type="{{ title_order }}" }}
              {{ title }} 
            {{ /partial:headings/dynamic }}
          {{ /if }}
          
          {{ partial:editor/wrapper }}

        </article>

      {{ /if }}

    {{ /sidebar_elements }}

    <div class="md:col-span-6 lg:col-span-12">

      {{ sidebar_elements }}

        {{ if type != 'application_information_deadlines' }}

          <article class="card card-rounded card-border">
            
            {{ if title }}
              {{ partial:headings/dynamic type="{{ title_order }}" }}
                {{ title }} 
              {{ /partial:headings/dynamic }}
            {{ /if }}
            
            {{ partial:editor/wrapper }}

          </article>
        
        {{ /if }}

      {{ /sidebar_elements }}

    </div>

  </aside>

{{ /if }}
