{{# Correction form - always visible regardless of registration:is_active #}}

{{ if title }}
<article class="col-span-full md:col-span-10 lg:col-span-8 bg-primary card card-rounded">
  {{ partial:headings/dynamic type="{{ title_order }}" }}
    {{ title }}
  {{ /partial:headings/dynamic }}

  {{ if introduction }}
  <div class="prose prose-invert">
    {{ introduction }}
  </div>
  {{ /if }}
</article>
{{ /if }}

<div
  id="application-form"
  class="
    card
    card-rounded
    border
    md:border-2
    border-white
    mt-8
    md:mt-0
    !px-8
    md:!px-12
    col-span-full">
  <application-form :eligibility-year="{{ eligibility_year }}"></application-form>
</div>
