
{{ if type == 'editor' }}
  {{ partial:components/editor/wrapper }}
{{ /if }}

{{ if type == 'imprint' }}
  {{ partial:components/imprint }}
{{ /if }}

{{ if type == 'text_box' }}
  {{ partial:components/text }}
{{ /if }}

{{ if type == 'partners' }}
  {{ partial:components/partners }}
{{ /if }}

{{ if type == 'participation' }}
  {{ partial:components/participation }}
{{ /if }}

{{ if type == 'award_exhibition' }}
  {{ partial:components/award_exhibition }}
{{ /if }}

{{ if type == 'conditions' }}
  {{ partial:components/conditions }}
{{ /if }}

{{ if type == 'form_information' }}
  {{ partial:components/form_information }}
{{ /if }}

