
{{ if type == 'editor' }}
  {{ partial:editor/wrapper }}
{{ /if }}

{{ if type == 'imprint' }}
  {{ partial:imprint }}
{{ /if }}

{{ if type == 'text_box' }}
  {{ partial:text }}
{{ /if }}

{{ if type == 'partners' }}
  {{ partial:partners }}
{{ /if }}

{{ if type == 'participation' }}
  {{ partial:participation }}
{{ /if }}

{{ if type == 'award_exhibition' }}
  {{ partial:award_exhibition }}
{{ /if }}

{{ if type == 'conditions' }}
  {{ partial:conditions }}
{{ /if }}

{{ if type == 'form_information' }}
  {{ partial:form_information }}
{{ /if }}

