  <div class="bg-white p-14 lg:p-24 card-rounded">
    
    <div class="flex flex-wrap justify-between items-start gap-y-24 md:gap-y-0">

      <a 
        href="{{ site:short_locale == 'fr' ? '/fr' : '/' }}" 
        class="block w-full md:max-w-360 lg:max-w-500 text-primary"
        aria-label="{{ "Startseite" | trans }}">
        {{ partial:brands/stiftung class="w-full h-auto" }}
      </a>

      <div class="flex flex-col items-start gap-y-4 lg:gap-y-6">
        {{ if footer:email }}
          <a
            href="mailto:{{ footer:email }}"
            aria-label="{{ 'Schreiben Sie uns' | trans }}"
            class="pill pill-sm pill-solid-primary-alt">
            {{ footer:email }}
          </a>
        {{ /if }}

        {{ if footer:instagram }}
          <a
            href="{{ footer:instagram }}"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="{{ 'Folgen Sie uns auf Instagram' | trans }}"
            class="pill pill-sm pill-solid-primary-alt">
            {{ 'Instagram' | trans }}
          </a>
        {{ /if }}
      </div>

      <div class="flex justify-end">
        <a
          href="{{ '/impressum' | trans }}"
          aria-label="{{ 'Impressum' | trans }}"
          class="pill pill-sm pill-solid-primary-alt {{ is_imprint ? 'glow-sm-primary !bg-primary !text-white' : '' }}">
          {{ 'Impressum' | trans }}
        </a>
      </div>

    </div>

    {{ slot }}

  </div>