<article class="
  col-span-{{ col_span_mobile }} 
  col-start-{{ col_start_mobile }}
  md:col-span-{{ col_span_tablet }}
  md:col-start-{{ col_start_tablet }}
  lg:col-span-{{ col_span_desktop }}
  lg:col-start-{{ col_start_desktop }}
  card
  card-rounded
  {{ registration:is_active ? 'bg-primary relative mt-200 md:!mt-0' : 'bg-secondary card-border' }}">

  {{ if registration:is_active }}
    {{ partial:buttons/cta 
        url="{{ "/stipendium/anmeldung" | trans }}" 
        title="{{ "Jetzt Gesuch einreichen" | trans }}"
        class="-rotate-[30deg] origin-bottom-right absolute -right-8 -top-210 md:hidden" }}
  {{ /if }}

  {{ partial:headings/dynamic type="{{ title_order }}" }}
    {{ title }} 
  {{ /partial:headings/dynamic }}

  {{ if registration:is_active }}
    {{ partial:editor/wrapper :editor="editor_open" background_color="primary" }}
  {{ else }}
    {{ partial:editor/wrapper :editor="editor_closed" background_color="secondary" }}
  {{ /if }}

</article>

