<article class="
  col-span-{{ col_span_mobile }} 
  col-start-{{ col_start_mobile }}
  md:col-span-{{ col_span_tablet }}
  md:col-start-{{ col_start_tablet }}
  lg:col-span-{{ col_span_desktop }}
  lg:col-start-{{ col_start_desktop }}
  card
  card-rounded
  {{ registration:is_active ? 'bg-primary' : 'bg-secondary card-border' }}">

  {{ partial:headings/dynamic type="{{ title_order }}" }}
    {{ title }} 
  {{ /partial:headings/dynamic }}

  {{ if registration:is_active }}
    {{ partial:editor/wrapper :editor="editor_open" background_color="primary" }}
  {{ else }}
    {{ partial:editor/wrapper :editor="editor_closed" background_color="secondary" }}
  {{ /if }}

</article>

<!-- <div class="col-span-3 h-full relative">
  <span class="pill pill-sm pill-solid-primary glow-sm-white h-30 absolute bg-red-50 w-[140%] rotate-45 origin-bottom-left -left-20">Jetzt bewerben</span>
</div> -->
