<div class="absolute bottom-10 lg:bottom-16 left-0 right-0 z-50 flex items-center justify-between gap-x-8 ">

  <button class="swiper-nav-prev shrink-0 text-white px-10 lg:px-16">
    {{ partial:icons/chevron-left class="h-23 w-auto" }}
  </button>

  <div class="swiper-caption text-center text-primary text-xxs lg:text-xs rounded-full pt-2 pb-4 lg:py-4 px-16 bg-white"></div>

  <button class="swiper-info-btn hidden rounded-full aspect-square bg-white text-primary flex items-center justify-center w-21 h-21">
    {{ partial:icons/info class="w-auto h-10" }}
  </button>

  <button class="swiper-nav-next shrink-0 text-white px-10 lg:px-16">
    {{ partial:icons/chevron-right class="h-23 w-auto" }}
  </button>

</div>
