{{ partial:exhibitions/components/card }}

  {{ partial:headings/h2 class="text-center leading-none mb-12" }}
    {{ information_title }}
  {{ /partial:headings/h2 }}

  <div class="flex flex-col gap-y-4 items-center">

    {{ if information_location }}

      {{ if information_link }}

        <a
          href="{{ information_link }}"
          class="pill pill-sm pill-solid-primary hover:shadow-glow-sm-primary"
          target="_blank"
          aria-label="{{ information_location }}">
          {{ information_location }}
        </a>

      {{ else }}

        <span class="pill pill-sm pill-outline-primary pill-outline-primary-static">
          {{ information_location }}
        </span>

      {{ /if  }}

    {{ /if }}

    {{ if information_periode }}
      <span class="pill pill-sm pill-outline-primary pill-outline-primary-static">
        {{ information_periode }}
      </span>
    {{ /if }}

  </div>
  
{{ /partial:exhibitions/components/card }}