{{ partial:exhibitions/components/card }}

  {{ partial:headings/h2 class="text-center leading-none mb-12" }}
    {{ information_title }}
  {{ /partial:headings/h2 }}

  <div class="flex flex-col gap-y-4 items-center">

    <span class="pill pill-sm pill-outline-primary pill-outline-primary-static">
      {{ information_location }}
    </span>

    <span class="pill pill-sm pill-outline-primary pill-outline-primary-static">
      {{ information_periode }}
    </span>

  </div>
  
{{ /partial:exhibitions/components/card }}