<header 
  class="
    bg-header-gradient 
    sticky 
    top-0 
    left-0 
    right-0
    lg:right-auto
    px-4 
    lg:px-0 
    py-12 
    lg:py-16 
    w-full 
    min-h-90 
    lg:min-h-135
    transform 
    transition-transform 
    duration-500 
    ease-in-out
    data-[hidden=true]:-translate-y-full
    data-[hidden=false]:translate-y-0"
    :class="{ 'bg-secondary': menu }"
    data-header>
  <div class="flex justify-between lg:gap-x-16">
    <a href="{{ site:short_locale == 'fr' ? '/fr' : '/' }}" class="block w-auto text-white max-w-260 lg:max-w-450">
      {{ partial:brands/stipendium class="w-full h-auto" }}
    </a>
    {{ partial:menu/main/buttons/show }}
    {{ partial:menu/main/buttons/hide }}
    {{ partial:menu/main/wrapper }}
  </div>
</header>
