<a
  href="{{ url }}"
  class="
    bg-primary
    rounded-full
    inline-flex
    items-center
    justify-center
    border
    md:border-2
    border-primary
    text-white
    !no-underline
    gap-16
    py-4
    md:py-8
    pl-16
    px-16
    text-xl
    md:text-2xl
    md:px-20
    md:h-48
    animate-glow-pulse
    hover:animate-none
    {{ class }}">
  {{ partial:icons/arrow-right class="w-30 lg:w-45 h-auto" }}
  {{ "Jetzt Gesuch einreichen" | trans }}
</a>



<!-- pill pill-lg pill-solid-primary pill-icon-lg !py-6 md:!py-8 !gap-16 -->