<div class="rounded-[1rem] lg:rounded-[2rem] lg:border-2 lg:border-white lg:px-12 lg:py-16 mb-4">
  {{ partial:accordion/wrapper class="flex flex-col gap-y-4 lg:gap-y-8" }}
    {{ collection:exhibitions sort="title:desc" }}
      {{ partial:accordion/item
        index="{index}"
        title="{title}"
        class="" }}
        <div class="flex flex-col gap-y-8">
          {{ content }}

            {{ if type == "information" }}
              {{ partial:exhibitions/components/information }}
            {{ /if }}

            {{ if type == 'artists' }}
              {{ partial:exhibitions/components/artists }}
            {{ /if }}

            {{ if type == 'jury' }}
              {{ partial:exhibitions/components/jury }}
            {{ /if }}

            {{ if type == 'downloads_links' }}
              {{ partial:exhibitions/components/downloads_links }}
            {{ /if }}

          {{ /content }}
        </div>
      {{ /partial:accordion/item }}
    {{ /collection:exhibitions }}
  {{ /partial:accordion/wrapper }}
</div>
