<div class="rounded-16 md:rounded-32 md:border-2 md:border-white md:px-12 md:py-16"
     x-data="{
       get sortedItems() {
         const items = Array.from($el.querySelectorAll('[data-year]'));
         return items.sort((a, b) => {
           const yearA = parseInt(a.dataset.year);
           const yearB = parseInt(b.dataset.year);
           return sortDirection === 'asc' ? yearA - yearB : yearB - yearA;
         });
       }
     }"
     x-effect="sortedItems.forEach((item, index) => { item.style.order = index; })">

  <header class="flex justify-center w-full items-center mb-4 md:mb-8 text-primary text-md md:text-lg">
    <span class="flex items-center justify-center leading-none bg-white px-16 py-8 md:py-11 rounded-16 md:rounded-32 w-full">
      {{ "Jahr" | trans }}
    </span>
  </header>

  {{ partial:accordion/wrapper class="flex flex-col gap-y-4 md:gap-y-8" }}

    {{ collection:exhibitions sort="title:desc" }}

      {{ partial:accordion/item :index="index" class="" data-slug="{slug}" data-year="{title}" }}

        {{ slot:title }}
          <span>{{ title }}</span>
        {{ /slot:title }}

        <div class="flex flex-col gap-y-8">

            {{ if images }}
              {{ partial:exhibitions/components/images }}
            {{ /if }}

          {{ content }}

            {{ if type == "information" }}
              {{ partial:exhibitions/components/information }}
            {{ /if }}

            {{ if type == 'fellows' }}
              {{ partial:exhibitions/components/fellows }}
            {{ /if }}

            {{ if type == 'artists' }}
              {{ partial:exhibitions/components/artists }}
            {{ /if }}

            {{ if type == 'jury' }}
              {{ partial:exhibitions/components/jury }}
            {{ /if }}

            {{ if type == 'downloads_links' }}
              {{ partial:exhibitions/components/downloads_links }}
            {{ /if }}

          {{ /content }}

        </div>

      {{ /partial:accordion/item }}

    {{ /collection:exhibitions }}

  {{ /partial:accordion/wrapper }}

</div>
