<div class="rounded-[1rem] lg:rounded-[2rem] lg:border-2 lg:border-white lg:px-12 lg:py-16 mb-4">
  {{ partial:accordion/wrapper class="flex flex-col gap-y-4 lg:gap-y-8" }}
    {{ collection:exhibitions sort="title:desc" }}
      {{ partial:accordion/item
        index="{index}"
        title="{title}"
        class="" }}
        <div>
          {{ content }}
            {{ if type == "information" }}
              <p>{{ information_title }}</p>
              <p>{{ information_location }}</p>
              <p>{{ information_periode }}</p>
            {{ /if }}
          {{ /content }}
        </div>
      {{ /partial:accordion/item }}
    {{ /collection:exhibitions }}
  {{ /partial:accordion/wrapper }}
</div>
