<div class="col-span-3 card card-rounded card-border">
  {{ partial:headings/h3 class="text-xl lg:text-2xl mb-8 lg:mb-16" }}
    {{ "Inhalte" | trans }}
  {{ /partial:headings/h3 }}
  <div class="flex flex-col gap-y-4 lg:gap-8">
    <a 
      href="{{ "/archiv/ausstellungen" | trans }}"
      class="pill pill-sm pill-solid-white glow-sm-white">
      {{ "Ausstellungen" | trans }}
    </a>
    <a 
      href="{{ "/archiv/stipendianten" | trans }}"
      class="pill pill-sm pill-solid-white">
      {{ "Stipendiant:innen" | trans }}
    </a>
  </div>
</div>

<div class="col-span-3 card card-rounded card-border">
  {{ partial:headings/h3 class="text-xl lg:text-2xl mb-8 lg:mb-16" }}
    {{ "Sortieren" | trans }}
  {{ /partial:headings/h3 }}
  <div class="flex flex-col gap-y-4 lg:gap-16">
    <div class="pill pill-sm pill-solid-white glow-sm-white w-full">
      {{ "Jahr" | trans }}
    </div>
    <div class="flex gap-x-4 lg:gap-8">
      {{ partial:buttons/up variant="solid" class="text-primary glow-sm-white" }}
      {{ partial:buttons/down variant="solid" class="text-primary" }}
    </div>
  </div>
</div>

