<div class="grid grid-cols-2 items-start gap-x-8 md-wide:flex md-wide:flex-col">

  <div class="card card-xs card-rounded card-border">

    {{ partial:headings/h3 class="text-xl md:text-2xl mb-8 md:mb-16" }}
      {{ "Inhalte" | trans }}
    {{ /partial:headings/h3 }}

    <div class="flex flex-col md:flex-row flex-wrap gap-y-4 md:gap-8">
      <a
        href="{{ "/archiv/stipendianten" | trans }}"
        class="pill pill-sm pill-solid-white !w-full md:!w-auto !px-[0.4rem] md:!px-16 hyphens-none">
        {{ "Stipendiant:innen" | trans }}
      </a>
      <a
        href="{{ "/archiv/ausstellungen" | trans }}"
        class="pill pill-sm pill-solid-white shadow-glow-sm-white !w-full md:!w-auto !px-[0.4rem] md:!px-16 hyphens-none">
        {{ "Ausstellungen" | trans }}
      </a>
    </div>

  </div>

  <div class="card card-xs card-rounded card-border">

    {{ partial:headings/h3 class="text-xl md:text-2xl mb-8 md:mb-16" }}
      {{ "Sortieren" | trans }}
    {{ /partial:headings/h3 }}

    <div class="flex flex-col md:flex-row gap-y-4 md:gap-x-8">

      <div class="pill pill-sm pill-solid-white shadow-glow-sm-white w-full md:w-auto">
        {{ "Jahr" | trans }}
      </div>

      <div class="flex gap-x-4 md:gap-8">

        <button
          @click="sortDirection = 'desc'"
          :class="sortDirection === 'desc' ? 'shadow-glow-sm-white' : ''"
          class="w-25 h-25 md:w-30 md:h-30 flex items-center justify-center rounded-full bg-white text-primary hover:shadow-glow-sm-white transition-all">
          {{ partial:icons/arrow-down class="w-auto h-14 md:h-18" }}
        </button>

        <button
          @click="sortDirection = 'asc'"
          :class="sortDirection === 'asc' ? 'shadow-glow-sm-white' : ''"
          class="w-25 h-25 md:w-30 md:h-30 flex items-center justify-center rounded-full bg-white text-primary hover:shadow-glow-sm-white transition-all">
          {{ partial:icons/arrow-up class="w-auto h-14 md:h-18" }}
        </button>

      </div>

    </div>

  </div>

  <div class="card card-xs card-rounded card-border col-span-2 md:!py-24">
    <p>{{ "Die Inhalte zu vergangenen Ausstellungen und Stipendiant:innen werden fortlaufend ergänzt." | trans }}</p>
  </div>

</div>

