<div
  x-data="AccordionItem({{ index }})"
  class="{{ class }}">

  <button
    type="button"
    class="w-full flex items-center justify-center leading-none"
    :class="open ? 'bg-white text-primary text-3xl rounded-tl-[1rem] rounded-tr-[1rem] lg:rounded-tl-[2rem] lg:rounded-tr-[2rem] px-16 py-8' : 'bg-primary text-white text-md lg:text-lg px-16 py-8 lg:h-42 rounded-[1rem] lg:rounded-[2rem]'"
    @click="toggle()">
    {{ title }}
  </button>

  <div
    x-ref="container"
    class="overflow-hidden"
    :class="open ? 'transition-all duration-300 ease-in-out' : ''"
    style="max-height: 0px;">
    <div class="bg-white rounded-bl-[1rem] rounded-br-[1rem] lg:rounded-bl-[2rem] lg:rounded-br-[2rem] p-8 lg:p-16">
      {{ slot }}
    </div>
  </div>
</div>
