  <ul class="
    flex 
    justify-end 
    mt-10 
    lg:mt-0
    lg:ml-8 
    pb-24 
    lg:pb-0 
    relative 
    z-40">
    {{ locales current_first="false" }}
      <li class="
        shrink-0
        border-2 
        border-white 
        text-xl 
        lg:text-2xl
        leading-none
        first:rounded-l-full
        first:pl-16
        first:pr-10
        lg:first:pl-20
        lg:first:pr-14
        last:rounded-r-full 
        last:pr-16
        last:pl-10
        lg:last:pr-20
        lg:last:pl-14
        py-6 
        uppercase
      hover:bg-white 
        hover:text-primary 
        hover:shadow-glow-sm-white
        transition-all
        {{ site:short_locale == locale:locale ? 'bg-white text-primary shadow-glow-sm-white' : 'text-white' }}">
        <a 
          href="{{ permalink }}" 
          title="{{ locale:locale }}"
          class="block">
          {{ locale:locale }}
        </a>
      </li>
    {{ /locales }}
  </ul>