<li class="block">
  <a 
    href="{{ child_url ? child_url : url }}" 
    title="{{ title }}"
    aria-label="{{ title }}"
    class="
      inline-block 
      rounded-full 
      border 
      lg:border-2
      border-white 
      px-16 
      lg:px-20
      py-6 
      text-xl 
      lg:text-2xl
      leading-none
      text-center 
      hover:bg-white 
      hover:text-primary 
      hover:shadow-glow-sm-white
      transition-all
      {{ is_current || is_parent ? 'bg-white text-primary shadow-glow-sm-white' : 'text-white' }}">
    {{ title }}
  </a>
</li>
