<div 
  class="absolute right-0 top-90 w-full"
  x-cloak 
  x-show="menu"
  x-transition:enter="transition ease-out duration-100"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition ease-in duration-0"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0">

  <nav class="relative bg-secondary after:content-[''] after:absolute after:-bottom-90 after:left-0 after:w-full after:h-90 after:bg-menu-gradient">
    <ul class="flex flex-col items-end gap-10">
      {{ nav:main }}
        {{ partial:menu/main/item }}
      {{ /nav:main }}
    </ul>
    {{ partial:menu/language/wrapper }}
  </nav>

</div>
